*{
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    
}
body{
    margin: auto;
    text-align: center;
}
header{
    background-color: #F28D9F;
    /* background-color: #F2C48D; */
    align-items: center;
    text-align:center;
    border:solid 3px #4B4573;
    border-radius: 10px 10px 0px 0px;
    margin-left: 10px;
    margin-right: 20px;
    

}

.conter{ 

    
    display: flex;
    align-items: center;
    justify-content: center;
    


}
img{
    
    border-radius: 50%;
    width: 100px;
    margin: 10px;
}
.menu{
    display: flex;
    list-style: none;
 
}
li>a{
    margin: 05px;
    padding: -1px 5px 0px 5px;
    text-decoration: none;
    color:#4B4573;
    text-align: justify;
}
.menu a:hover{
    
    border: solid 2px #4B4573 ;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    background-color:#7EB0F2;
    color: #F2F2F2;
    box-shadow:inset 1px 1px 2px 2px #5688ca;


}
.menu a:active{
    background-color:#71a2e1 ;
    box-shadow: inset -2px -3px 2px 5px #00000029;
    font-weight: 400;


}
.colun{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
div>label{
    color:#4B4573 ;
    font-weight: bold;
    font-size:larger;
    background-color:#F28D9F;
    border-radius: 10px;
    border: solid 2px #4B4573;
    padding: 3px;

}
div.card{
    display:inline-block;
    border:solid 2px #4B4573;
   
}
input,.botton{
    color: #4B4573;
    border: solid 2px #4B4573;
    background-color:#f9f9f9;
    border-radius: 10px 0px 0px 10px;
    margin-top: 8px;
    margin-right: -3px;
    margin-bottom: 5px;
    padding: 5px;
}
form>h3{
    padding: 5px;
}

.botton{
    border-radius: 0px 10px 10px 0px;
    background-color:#7EB0F2;
    margin-left: -3px;
}
main{
    padding:10px 10px ;
    background-color: #F2F2F2;
    border: solid 2px #4B4573;
    border-top:none;
    margin-left: 10px;
    margin-right: 20px
}
